<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smart.microclass">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OtherClass.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mine.Login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smart.microclass.MainActivity" />
        </activity>
        <activity
            android:name=".Mine.MineInformation.MineInformation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FaQ.AddFriend.MyFriend"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OtherClass.PlayVideo.PlayVideo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Course.VideoList"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".FaQ.Chat.ChatWithMan"
            android:theme="@style/AppTheme"
            >
        </activity>
    </application>

</manifest>